# Exclude rendered HTML from GitHub language statistics
machine_learning_task/CreatingMachineLearningModel.html linguist-vendored
machine_learning_task/ACQUIRING_DATA/PatientData_HumanView.html linguist-vendored
